/* Fonts */

@font-face {
    font-family: Gilroy;
    src: url(./fonts/Gilroy-Black.woff2);
}

@font-face {
    font-family: Gilroy-sbold;
    src: url(./fonts/Gilroy-SemiBold.woff2);
}

@font-face {
    font-family: Gilroy-ebold;
    src: url(./fonts/Gilroy-ExtraBold.woff2);
}

@font-face {
    font-family: Gilroy-heavy;
    src: url(./fonts/Gilroy-Heavy.woff2);
}

@font-face {
    font-family: Gilroy-bold;
    src: url(./fonts/Gilroy-Bold.woff2);
}
  
@font-face {
    font-family: Gilroy-light;
    src: url(./fonts/Gilroy-Light.woff2);
}
  
@font-face {
    font-family: Gilroy-thin;
    src: url(./fonts/Gilroy-Thin.woff2);
}
  
@font-face {
    font-family: Gilroy-med;
    src: url(./fonts/Gilroy-Medium.woff2);
}
  
/* document */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
}
*::selection {
    background-color: #272727;
}

html {
    height: 100%;
    width: 100%;
    scrollbar-width: none;
}

body {
    height: 100%;
    width: 100%;
    scrollbar-width: none;
    overflow-y: hidden;
}

/* Mouse Follower */
/* #mouseFollower {
    height: 35px;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 999;
    opacity: 1;
    transform: rotateZ(10deg);
} */
.circle {
    height: 1px;
    width: 1px;
    border-radius: 24px;
    background-color: #000;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
}

/* PreLoad Page */

#page0 {
    height: 100vh;
    width: 100%;
    background-color: #0c0c0c;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
}

#page0 h1 {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: -34%;
    right: 100%;
    color: #eeeeee;
    font-family: Gilroy-sbold;
    font-size: 135vh;
    cursor: default;
}
#page0 h1::selection {
    background-color: transparent;
}

/* Main */
#main {
    height: fit-content;
    width: 100%;
    background-color: #0c0c0c;
}

#page1 {
    position: absolute;
    top: 100%;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    overflow: hidden;
}

#page1 #bose {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 750px;
    overflow: hidden;
}

#page1 #bose .letterOFbose {
    z-index: 9;
    font-family: Gilroy;
    font-size: 15rem;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}
#page1 #bose .letterOFbose::selection {
    background-color: transparent;
}

#page1 #bose #BofBOSE {
    top: -40%;
    left: 7.5%;
}
#page1 #bose #OofBOSE {
    right: 50%;
}
#page1 #bose #SofBOSE {
    top: -40%;
    left: 50%;
}
#page1 #bose #EofBOSE {
    top: 140%;
    right: 14.5%;
}

#page1 #bose .hdphn {
    z-index: 10;
    height: 15rem;
    transform: translate(0, 30px);
    margin: 0 -2.8vw;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}
#page1 #bose .hdphn::selection {
    background-color: transparent;
}

#page1 #bose #one {
    left: 5%;
}
#page1 #bose #two {
    right: 50%;
    top: 140%;
}
#page1 #bose #thrd {
    transform: translate(-40%, -30%);
    rotate: 45deg;
    left: 55.5%;
}
#page1 #bose #frth {
    transform: translate(-10%, -60%);
    rotate: 45deg;
    right: 14%;
}
#page1 #bose #OofBOSE {
    height: 13rem;
}

#page1 nav {
    z-index: 10;
    padding: 0 5vw 0 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#page1 nav #left a {
    z-index: 99;
}
#page1 nav #left img {
    z-index: 110;
    cursor: pointer;
    transition: all ease 0.4s;
}

#page1 nav #right {
    display: flex;
    gap: 3vw;
}
#page1 nav #right li {
    z-index: 10;
    color: #0c0c0c;
    list-style: none;
    font-family: Gilroy-sbold;
    font-size: 1.2rem;
    cursor: pointer;
}

#page1 nav #right .nit {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    overflow: hidden;
}

#page1 nav #right .nit a {
    text-decoration: none;
    color: #0c0c0c;
}
#page1 nav #right .nit .nita1 {
    color: transparent;
}

#page1 nav #right .nit .nita2 {
    position: absolute;
    top: 0;
    left: 0;
    transition: all ease 0.5s;
}
#page1 nav #right .nit .nita3 {
    position: absolute;
    top: 250%;
    left: 0;
    transform: rotateZ(45deg);
    transition: all ease 0.3s;
}

#page1 nav #right .nit:hover .nita2 {
    top: -250%;
    transform: rotateZ(45deg);
}
#page1 nav #right .nit:hover .nita3 {
    top: 0;
    transform: rotateZ(0deg);
}

/* PAGE2 */

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
}

#page2 img {
    width: 40vw;
    position: absolute;
    transform: translate(0, -50%);
}

#page2 #img1 {
    z-index: 10;
    top: 50%;
    right: 50%;
}

#page2 #img2 {
    z-index: 10;
    top: 50%;
    left: 50%;
}

/* PAGE 3 */

.page3, .footer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#container {
    display: flex;
    overflow-x: hidden;
    scrollbar-width: none;
    background-color: #fff;
    color: #000;
}

.item {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#container .item {
    font-family: Gilroy-bold;
    display: flex;
    justify-content: flex-start;
    gap: 10vw;
    padding: 5vw;
}
#container .item h1 {
    display: inline;
    text-align: start;
    font-size: 40vw;
}

#container #item1 #img1 {
    width: 33vw;
    position: absolute;
    top: 40%;
    right: 30%;
    transform: translate(0, -50%);
}
#container #item1 #img2 {
    width: 33vw;
    position: absolute;
    top: 65%;
    left: 5%;
    transform: translate(0, -50%);
}
#container #item1 #img3 {
    width: 33vw;
    position: absolute;
    top: 50%;
    right: -15%;
    transform: translate(0, -50%);
}

#container #item2 #img1 {
    width: 30vw;
    position: absolute;
    top: 34%;
    left: 20%;
    transform: translate(0, -50%);
}
#container #item2 #img2 {
    width: 30vw;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}
#container #item2 #img3 {
    width: 30vw;
    position: absolute;
    top: 40%;
    right: -40%;
    transform: translate(0, -50%);
}

#container #item4 #img1 {
    width: 35vw;
    position: absolute;
    top: 65%;
    left: -40%;
    transform: translate(0, -50%);
} 
#container #item4 #img2 {
    width: 50vw;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
} 


#container2 {
    z-index: 10;
    display: flex;
    flex-direction: row-reverse;
    overflow-x: hidden;
    scrollbar-width: none;
    background-color: #fff;
    color: #000;
}

#container2 #item2 {
    display: grid;
    place-items: center;
    position: relative;
}
#container2 #item2 video {
    height: 90vh;
}
#container2 #item2 img {
    position: absolute;
    height: 100vh;
    width: 103vw;
    top: 4.2%;
}

#container2 #item2 h1 {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 5%;
    font-family: Gilroy-bold;
    color: #fff;
    font-size: 5rem;
}
#container2 #item2 h2 {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 5%;
    font-family: Gilroy-bold;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 5px;
}

#container2 #item3 {
    background: url('https://assets.bose.com/content/dam/cloudassets/Bose_DAM/Web/consumer_electronics/global/products/headphones/QCUH-HEADPHONEARN/images/AEM_PDP_IMG-9.jpg/jcr:content/renditions/cq5dam.web.1920.1920.jpeg');
    padding: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3vh;
}

#container2 #item3 h1 {
    font-family: Gilroy-bold;
    font-size: 6rem;
    color: #dadada;
    text-transform: uppercase;
}
#container2 #item3 h2 {
    font-family: Gilroy-sbold;
    font-size: 2.5rem;
    color: #dadada;
    text-transform: capitalize;
}

#container2 #item4 {
    height: fit-content;
    padding: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vh;
    background-color: #fff;
}
#container2 #item4 h1 {
    font-family: Gilroy-bold;
    font-size: 6rem;
    color: #000;
    text-transform: uppercase;
}
#container2 #item4 p {
    font-family: Gilroy-sbold;
    font-size: 1.5rem;
    color: #000;
    text-transform: capitalize;
}

#container2 #item4 #accesseries {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#container2 #item4 #accesseries #prod {
    width: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
#container2 #item4 #accesseries #top{
    height: fit-content;
    width: fit-content;
    background-color: #f7f7f7;
    border-bottom: 1px solid #c2c2c2;
    border-radius: 20px;
}
#container2 #item4 #accesseries #top img{
    height: 25vh;
}
#container2 #item4 #accesseries #bott{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
#container2 #item4 #accesseries #bott h1 {
    font-family: Gilroy-med;
    font-size: 1rem;
}

/* FOOTER */

#footer {
    background-color: #000;
    position: relative;
}

#footer #visit {
    z-index: 9;
    color: #dadada;
    font-family: Gilroy;
    text-transform: uppercase;
    font-size: 9rem;
    text-align: center;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 1;
}

#footer #bott {
    padding: 0 10vw 0 10vw;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    /* border-top: 1px solid #dadada; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5vh;
}

#footer #bott #top{
    display: flex;
    justify-content: space-between;
}
#footer #bott #top #left {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
#footer #bott #top #right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1vh;
}
#footer #bott #top h2 {
    color: #fff;
    font-family: Gilroy-light;
    font-size: 1.1rem;
    margin-bottom: 1vh;
}
#footer #bott #top a {
    color: #dadada;
    text-decoration: none;
    font-family: Gilroy-light;
    font-size: 1.1rem;
    text-transform: capitalize;
}
#footer #bott #bot{
    height: fit-content;
    width: 100%;
    display: flex;
    gap: 2vw;
    padding: 20px 0;
}
#footer #bott #bot #left img {
    height: 100px;
}
#footer #bott #bot #right {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#footer #bott #bot #right .top {
    display: flex;
    gap: 1vw;
    align-items: center;
    padding: 5px 0;
}
#footer #bott #bot #right .top h2 {
    font-family: Gilroy-sbold;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: default;
}
#footer #bott #bot #right .bot {
    padding: 5px 0;
    border-top: 1px solid #dadada;
}
#footer #bott #bot #right a {
    text-decoration: none;
    color: #dadada;
    font-family: Gilroy-light;
}